:root {
    --non-white: #CCCCCC; 
    --background-color: #2d3748; 
    --header-footer-bg: #2d3748; 
    --header-text-color: var(--non-white);
}

@font-face {
    font-family: 'Future Rot';
    src: url('../../public/assets/font/future_rot_transform/FutureRot.woff2') format('woff2'),
        url('../../public/assets/font/future_rot_transform/FutureRot.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Carrois Gothic SC", serif;
    background-color: var(--background-color);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    text-align: center;
    background-color: var(--header-footer-bg);
    margin-bottom: 10px;
}

header h1 {
    font-size: 2rem;
    font-weight: bold;
    padding: 5px;
    color: var(--header-text-color);
}

footer {
    display: flex;
    background-color: var(--header-footer-bg);
    padding: 10px;
    align-items: center;
    justify-content: center;
    width: 100%;
}

footer h3 {
    color: var(--header-text-color);
    font-size: 1rem;
}